<%- include("partials/header.ejs") %>



<div id="mainPrajire" class="container-fluid">
    <h1>Prajire in curs - <span>Sortiment</span> - <span>200g</span></h1>
    <h5>Urmareste pasii, tine cont de note Urmareste pasii, tine cont de note Urmareste pasii, tine cont de noteUrmareste pasii, tine cont de note</h5>

    <!-- some kind of steps and a next button???? -->

      <p>Incalzeste cuptorul</p>
      <button class="btn">Next step</button>



    <button class="btn btn-lg">Success</button>
    <button class="btn btn-lg">Failed</button>
</div>


<div id="notes">
  <h5>***Note, instructiuni de prajire - asta cel mai bine ar fi sa il pui putin mai devreme si sa il scoti putin si mai devreme, dar fara graba ca mno, nu-i neaparat ok</h5>
</div>


<div id="queue_helper" class="container-fluid">
    <table id="t-prajite">
        <tr>
          <th>Sortiment</th>
          <th>Cantitate</th> 
        </tr>
        <tr>
          <td>Miserupia</td>
          <td>22</td>
        </tr>
        <tr>
          <td>Sortiment2</td>
          <td>22</td>
        </tr>
        <tr>
          <td>Alt Sortiment</td>
          <td>44</td>
        </tr>         <tr>
          <td>Alt Sortiment</td>
          <td>44</td>
        </tr>         <tr>
          <td>Alt Sortiment</td>
          <td>44</td>
        </tr>     
      </table>

      <h3>Prajire curenta</h3>

      <table id="t-urmatoare">
        <tr>
          <th>Sortiment</th>
          <th>Cantitate</th> 
        </tr>
        <tr>
          <td>Miserupia</td>
          <td>22</td>
        </tr>
        <tr>
          <td>Sortiment2</td>
          <td>22</td>
        </tr>
        <tr>
          <td>Alt Sortiment</td>
          <td>44</td>
        </tr> 
        <tr>
          <td>Alt Sortiment</td>
          <td>44</td>
        </tr>     
      </table>
</div>


<button class="btn btn-large" id="backButton" onclick="location.href= '/';"><i class="fas fa-home"></i></button>



<%- include("partials/footer.ejs") %>
