<%- include("partials/header.ejs") %>

<div id="mainBody">
  <div id="sidePanel" class="container">
    <h2 class="pt-3 pb-3">Dashboard</h2>
    <button class="btn" onclick="location.href = '/helper';">Helper prajire</button>
    <button class="btn" onclick="location.href= '/prajeli';">Prajeli</button>
    <button class="btn" onclick="location.href='/sortimente'">Sortimente</button>
    <button class="btn">Angajati</button>
    <div id="userInfo">
      <div id="pic"></div>
      <div id="usr">
        <p>Nicu</p>
        <p>Prajitor innascut</p>
      </div>
    </div>
</div>


<div id="titluPagina">
  <h2>HomePage</h2>
</div>


  <div id="serviceInfo">
    <h2 class="pt-2">Informatii service</h2>
    <p class="pt-2">Evacuarea a fost curatata pe <span> 22.22.22</span>, acum <span> 3</span> prajiri si trebuie curatata in <span> 3 </span> prajiri</p>
  </div>


  <div id="queues">

    <h2>Prajeli in coada</h2>

    <table>
      <tr id="noHover">
        <th>Sortiment</th>
        <th>Cantitate</th> 
        <th>Due date</th>
        <th>Client</th>
      </tr>
      <tr>
        <td>Miserupia</td>
        <td>22</td>
        <td>22.22.22</td>
        <td>Niculina</td>
      </tr>       <tr>
        <td>Miserupia</td>
        <td>22</td>
        <td>22.22.22</td>
        <td>Niculina</td>
      </tr>          <td>Miserupia</td>
      <td>22</td>
      <td>22.22.22</td>
      <td>Niculina</td>
    </tr>          <td>Miserupia</td>
    <td>22</td>
    <td>22.22.22</td>
    <td>Niculina</td>
  </tr>          <td>Miserupia</td>
  <td>22</td>
  <td>22.22.22</td>
  <td>Niculina</td>
</tr>          <td>Miserupia</td>
<td>22</td>
<td>22.22.22</td>
<td>Niculina</td>
</tr>          <td>Miserupia</td>
<td>22</td>
<td>22.22.22</td>
<td>Niculina</td>
</tr>          <td>Miserupia</td>
<td>22</td>
<td>22.22.22</td>
<td>Niculina</td>
</tr>          <td>Miserupia</td>
<td>22</td>
<td>22.22.22</td>
<td>Niculina</td>
</tr>          <td>Miserupia</td>
<td>22</td>
<td>22.22.22</td>
<td>Niculina</td>
</tr>          <td>Miserupia</td>
<td>22</td>
<td>22.22.22</td>
<td>Niculina</td>
</tr>     
    </table>
  </div>
</div>


<%- include("partials/footer.ejs") %>

